<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="simplic_github_registry" value="https://nuget.pkg.github.com/simplic/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <simplic_github_registry>
      <add key="Username" value="%GH_REGISTRY_USER%" />
      <add key="ClearTextPassword" value="%GH_REGISTRY_TOKEN%" />
    </simplic_github_registry>
  </packageSourceCredentials>
</configuration>